.site-wrapper {
    margin-top: 60px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.firstdice {}
.dice1, .dice2, .dice3, .dice4, .dice5, .dice6 {
	background: url(../img/dice.png) no-repeat;
    height: 480px;
    width: 493px;
    display: inline-block;
    overflow: hidden;
	zoom: 10%;
}
.dice1 {background-position: 0px 0px;}
.dice2 {background-position: -465px 0px;}
.dice3 {background-position: -952px 0px;}
.dice4 {background-position: 0px -540px;}
.dice5 {background-position: -465px -540px;}
.dice6 {background-position: -952px -540px;}
.resulttotaldice {padding: 20px 0px 100px;}
.lostdice {color: blue;}
.windice {color: red;}
